body{
	font-family: "Archivo Narrow"; margin: 0px;
}
header{
	background-color: rgba(0 0 0 25);
	background-image: url(../images/header-image.jpg);
	margin: 0px;
	padding: 100px;
}
h1{
	text-align: center; font-size: 60pt; color: white;
}
h2{
	text-align: center; font-size: 30px; color: white;
}

section > div {
	margin: 0px 360px 63px 360px;

}
h3{
	margin: 10px 0px 30px 0px;
	text-align: center;
	font-size: 40px;
	padding-top: 30px;
}

p { font-size: 18px;

}

.section-one{
	background-color: 
}
.section-one img{
	float: right;
	height: 300px; width: auto;
	margin: 0px 0px 20px 40px; 
}
.section-three{
	text-align: center; margin: 0px 150px 0px 150px;
}
.section-three p{
	font-size: 23px;
}